
*{
    margin: 0;
    padding: 0;
}
/* shared content  */
.inter-personal-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.text-color{
    color: #000000;
}
.common-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.btn-d{
    background-color: #30B868;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    text-align: center;
}
/* Nevigation section start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}
nav ul{
    display: flex;
    gap: 32px; 
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    font-weight: 500px;
    line-height: 152%;
}
.banner{
    background-image: url('../assets/hero-bg.png') ;
    height: 580px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    max-width: 1600px;
}
.banner-content{
    justify-items: center;
}  

.banner-sort-title {
    padding: 8px 12px;
    font-weight: 500;
    color: #30B868;
    border-radius: 1000px;
    text-align: center;   
    background-color: #FFFFFF;
    width: 229px;
    align-items: center;
    margin-bottom: 16px;
}
.banner-title{
    font-size: 72px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.middle-comtent{
    color: #30B868;
}
.banner-description{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 16px;
}
.note-section{
    background-color: #f7f2f2;
}
.notes{
    text-align: center;
}
.note-head{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 48px;
}
.items{
    display: flex;
    gap: 24px;
    margin: 44px 120px 0px 120px;
}
.str-item-p{
    background-color: #FFFFFF;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    align-content: center;
}
.str-item-img{
    padding: 16px;
    background-color: #F95555;
    border-radius: 100%;
    margin-top: 80px;
    margin-bottom: 16px;    
}
.str-item{
    text-align: center;
    background-color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    align-content: center;
}
.knowledge-section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 120px;
}
.knowledge-img{
    height: 600px;
    width: 600px;
    border-radius: 12px;
    margin-right: 60px;
}
.know-title-1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}