
*{
    margin: 0;
    padding: 0;
}
.dim {
    height: 18px;
    width: 18px;
}
.ban{
    display: flex;
    
    
}

/* shared content  */
.inter-personal-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
a{
    text-decoration: none;
}
a :hover{
    background-color: #F95555;

}
.text-color{
    color: #000000;
}
.common-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.btn-c{
    display: flex;
    gap: 10px;
}
.btn-e{
    display: flex;
    justify-content: center;
    /* background-color: #30B868; */
    align-content: center;
    justify-items: center;
    gap: 10px;

    
}
.btn-d{
    background-color: #30B868;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px ;
    border: none;
    /* text-align: center; */
    align-items: center;
}
.btn-d-1{
    background-color: #30b86900;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px  ;
    border: 1px solid white;
    text-align: center;
    display:    flex ;
    align-items: center;
    justify-content: center;

}
/* Nevigation section start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}
nav ul{
    display: flex;
    gap: 32px; 
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    font-weight: 500px;
    line-height: 152%;
}
.banner{
    background-image: url('../assets/hero-bg.png') ;
    height: 580px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    max-width: 1600px;
}
.banner-content{
    justify-items: center;
}  
.btn-problem{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.banner-sort-title {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    border-radius: 1000px;
    text-align: center;   
    background-color: #FFFFFF;
    align-items: center;
    margin-bottom: 16px;
    display: flex;
    gap: 10px;
    align-content: center;
    justify-content: center;
}
.banner-title{
    font-size: 72px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.middle-comtent{
    color: #30B868;
}
.banner-description{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 16px;
}
.note-section{
    background-color: #f7f2f2;
}
.notes{
    text-align: center;
}
.note-head{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 48px;
    padding-bottom: 16px;
}
.items{
    display: flex;
    gap: 24px;
    margin: 44px 120px 0px 120px;
}
.str-item-p{
    background-color: #FFFFFF;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    align-content: center;
}
.str-item-img{
    padding: 16px;
    background-color: #F95555;
    border-radius: 100%;
    margin-top: 80px;
    margin-bottom: 16px;    
}
.str-item{
    text-align: center;
    background-color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    align-content: center;
}
.knowledge-section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 120px;
}
.knowledge-img{
    height: 600px;
    width: 600px;
    border-radius: 12px;
    margin-right: 60px;
}
.know-title{
    color: #30B868;
    margin-bottom: 16px;
}
.know-title-1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}
.k-text{
    margin-bottom: 40px;
    line-height: 20px;
}
.list-item{
     gap: 14px; 
     font-size: 16px;
     font-weight: 500;   
}
.list-item li{
    list-style: none;
    display: flex;
    margin-bottom: 16px;
    gap: 10px;
}
.Early-Access-Section{
    background-color: #F7F6F2;
    border-radius: 12px;
    margin: 0px 120px 120px 120px;
    justify-content: center; 
    align-items: center;
    align-content: center; 
    justify-items: center;
    text-align: center;
    padding: 80px 40px;
}
.e-a-section{
    padding-top: 16px;
    padding-bottom: 24px;
    margin: 0px;
}
.e-a-section-1{
    padding-top: 16px;
}
footer{
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}
.footer-contant{
    display: flex;
    justify-content: space-between;
    color: #FAFAFA;
    padding-bottom: 80px;
}
.footer-social a{
    align-items: left;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    gap: 10px;

}
.s-logo{
    display: flex;
    gap: 16px;
}
.s-logo a{
    padding-top: 10px;
    
}
hr {
  border: none;
  height: 2px;
  background: #4d535c;
}
.last-contant{
    margin-top: 30px;
    color: #FAFAFA;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}
